#ui-screen {
  position: relative;
}
.knockout-screen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#inventory-screen {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 10px;
}
#inventory-screen .items {
  margin: 0;
}
